$media-direction: min;
$breakpoints: (
  'default': '',
  'x': 567px,
  's': 768px,
  'm': 992px,
);

@mixin bp($breakpoint,$direction: $media-direction) {

  @if map-has-key($breakpoints, $breakpoint) {

    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

// @mixin font-milo($size: 16px) {
//   font-family: "Milo",Verdana;
//   font-size: $size;
//   font-weight: normal;
// }
