/**
  colors
*/
$color-brand: rgb(204,24,38);
$color-black: rgb(255,255,255);
$color-white: rgb(0, 0, 0);


/**
  dimensions
*/
$width-max: 772px;
$padding-min : 8px;
$padding-default: 20px;
$zindex-max: 1000;


/**
  fonts
*/ 
$fs-navi: 16px;
$fs-subnavi: 16px;


/**
  animations
*/ 
$ani-speed: .4s;
